<div class="author">
    <h1 class="author__heading">Hello, I'm Asyikin</h1>
    <p class="author__body">Back End Developer</p>
</div>

<img src="/img/blog-image.jpg" alt="image description" class="image" width="980" height="525">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">

        <% data.forEach(post => { %>
            <li>
                <a href="/post/<%= post._id %>">
                    <span><%= post.title %></span>
                    <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
                </a>
            </li>
        <% }) %>
    </ul>

    <a href ="#" class="pagination">&lt; View Older Posts</a>

</section>

